body {
  background-color: rgb(24, 148, 107);
  margin: 0;
  overflow: hidden;
}

.topBar {
  width: 100vw;
  background-color: blue;
}

.container2 {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  background-color: orange;
  height: 700px;
  width: 1300px;
  display: grid;
  grid-template-rows: 33.3% 33.3% 33.3%;
}

.top,
.bottom {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.box {
  position: relative;
  display: grid;
  width: 100%;
}

.pipe,
.goomba {
  position: absolute;
  height: auto;
  width: 150px;
  place-self: center;
}
